/*SITE-WIDE STYLES: */

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/light-grey-terrazzo.png');
    color: #777777;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2.5px solid #cccccc;
    z-index: 2;
}

.head-content {
    float: left;
    height: 90px;
}

.main-content {
    padding: 25px;
    margin-top: 130px;
    margin-bottom: 40px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.name {
    float: left;
    height: 88.5px;
    width: 315px;
    background-color: #4aaaa5;
}

.name h1 {
    line-height: 88.5px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

hr {
    height: 2.5px;
    border: 0.5px solid #dddddd;
    background-color: #dddddd;
    margin: 25px 0 40px 0;
}

h1 {
    color: #ffffff;
    font-size: 3.2em;
    margin: auto;
    line-height: 100%;
    font-weight: 600;
}

h2 {
    color: #4aaaa5;
    padding: 7.5px 0;
    font-size: 3em;
    font-weight: 600;
}

/*NAVBAR */

nav {
    float: left;
    height: 75px;
    background-color: #ffffff;
}

nav ul {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul li {
    display: flex;
    width: 85px;
    font-size: 1.8em;
    border-right: 1.25px solid rgba(0,0,0,0.15);
}

nav ul li:last-child {
    border: none;
}

nav a {
    margin: auto;
    color: #777777;
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

nav a:hover, nav a:focus {
    letter-spacing: 1.0125px;
    font-size: 1.025em;
    color: #DD524A;
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 1s;
}

nav a:active {
    color: #DD524A;
}

/*FOOTER: */

.foot {
    display: flex;
    width: 100%;
    background-color: gray;
    height: 90px;
    border-top: 10px solid #4aaaa5;
    text-align: center;
}

.foot p {
    margin: auto;
    line-height: 100%;
    font-size: 1.4em;
    color: #ffffff;
}

.margin-top { /* responsive using jquery */
    margin-top: 65px;
}

/*ABOUT-ME PAGE: */

#profilePic {
    float: left;
    margin: 10px 25px 35px 0;
}

.main-content p {
    font-size: 1.6em;
    line-height: 2;
}

/*GALLERY PAGE: */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    display: flex;
    flex-direction: column;
    flex: 50%;
    max-width: 50%; 
    padding: 0 4px;
}

.img-container {
    flex: 50%;
}

.img-container img {
    width: 100%;
}

.img-container h3 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(calc(-150%));
    text-align: center;
    background-color:rgb(74, 170, 165);
    font-size: 2.2em;
    color: #fff;
    opacity: 0.65;
    z-index: 1;
    transition: all 0.75s;
    line-height: 60px;
}

.img-container h3:hover, .img-container h3:focus {
    opacity: 1;
    letter-spacing: 1.25px;
    font-size: 2.2em;
    transition: all 0.75s;
}

/*CONTACT PAGE: */

label {
    font-size: 1.8em;
    padding: 5px;
}

.form-control {
    font-size: 1.4em;
}

input, textarea {
    font-size: 22px;
    width: 100%;
    color: #cccccc;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
}

textarea {
    height: 200px;
    margin-bottom: 20px;
}

.contact-submit {
    font-size: 1.8em;
    width: 125px;
    color: #ffffff;
    background-color:  #4aaaa5;
    padding: 10px 0;
    border: none;
}

/*END ASSIGNMENT 01*/
/*BEGIN ASSIGNMENT 02 PT.2: */

@media (max-width: 980px), (min-width: 980px) {

    .main-content {
        width: 650px;
        margin-left: 55px;
    }

    .head-content {
        margin-left: 55px;
        width: 1050px;
        height: 90px;
    }

    nav {
        margin-left: 350px;
    }
}

@media (max-width: 768px) {

    .main-content {
        width: 710px;
        margin-left: 20px;
    }
    
    .head-content {
        margin-left: 20px;
        margin-right: 20px;
        min-width: 760px;
        height: 90px;
    }

    nav {
        margin-left: 150px;
    }
}

@media (max-width: 640px) {
    html {
        font-size: 8.5px;
        min-width: 575px;
    }

    header {
        position: static;
        display: block;
        height: 155px;
        border-bottom: none;
        min-width: 575px;
    }

    .main-content {
        width: 535px;
        margin: 40px 20px 0 20px;
    }

    .head-content {
        width: 575px;
        margin-left: 0;
        display: block;
    }

    .name {
        width: 100%;
        margin: 0;
        display: flex;
    }

    .name h1 {
        margin: auto;
        transform: translate(-40%, -5%);
    }

    nav {
        margin: 0;
        display: flex;
        justify-content: space-around;
        height: 62.5px;
        width: 100%;
        border-bottom: 2px solid #cccccc;
    }

    nav ul {
        transform: translate(-25%, 0);
    }

    nav ul li {
        width: 120px;
    }

    nav a {
        font-size: 2rem;
    }

    nav a:hover, nav a:focus {
        letter-spacing: 1px;
        font-size: 1.4em;
    }

    nav a:active {
        border-bottom: 2.5px solid #DD524A;
    }

    #profilePic {
        width: 98.5%;
    }

    .main-content {
        font-size: 1.2em;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .img-container h3:hover, .img-container h3:focus {
        opacity: 1;
        letter-spacing: none;
        font-size: 2.2em;
    }

}

@media (min-width: 1824px) {
    html {
        font-size: 10.5px;
    }

    .main-content {
        width: 960px;
        margin-left: 55px;
    }

    .head-content {
        margin-left: 55px;
        width: 1050px;
        height: 90px;
    }

    nav {
        margin-left: 425px;
    }   
}

/*NOT PART OF ASSIGNMENT (EXTRA FOR XL SCREENS)*/



/* END ASSIGNMENT 02 */

